<div id="filters" class="filter-bar">
    <div class="filter"><i class="fa-solid fa-fire"></i> Trending</div>
    <div class="filter"><i class="fa-solid fa-campground"></i> Camp</div>
    <div class="filter"><i class="fa-solid fa-mountain"></i> Mountain</div>
    <div class="filter"><i class="fa-solid fa-tractor"></i> Farm</div>
    <div class="filter"><i class="fa-solid fa-city"></i> Iconic Cities</div>
    <div class="filter"><i class="fa-solid fa-swimming-pool"></i> Amazing Pools</div>
    <div class="filter"><i class="fa-solid fa-chess-rook"></i> Castles</div>
    <div class="filter"><i class="fa-solid fa-sun"></i> Deserts</div>
    <div class="filter"><i class="fa-solid fa-map-marker-alt"></i> Choose Your Location</div>
</div>
