<% layout("/layouts/boilerplate") -%>

<body>

    <div class="hero">
        <h1>Welcome to QuickStay</h1>
        <p>Find your perfect rental space effortlessly.</p>
        <div class="buttons-home">
            <a href="/signup"><button class="btn home primary">Get Started for Free</button></a>
             <a href="/listings"> <button class="btn  home secondary">Explore</button></a>
        </div>
    </div>

</body>
